<div class="container">

  <div class="row">
    <div class="column">

        <h1>Welcome to Spelos.NET</h1>
        <p>Hello, my name is Peter. To learn more about me, checkout my <a href="https://github.com/petrspelos">GitHub</a> profile. If you're feeling chatty, join my <a href="https://discord.gg/cGhEZuk">Discord</a> server.</p>

    </div>
    <div class="column">

        <h2>Some of my projects</h2>

        <table>
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Technology</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>YouTube tutorials</td>
                    <td>
                        <img height="24" width="24" src="https://unpkg.com/simple-icons@v3/icons/obsstudio.svg" title="Open Broadcaster Software" />
                    </td>
                    <td>
                        <a href="https://spelos.net/youtube">
                            <img src="https://img.shields.io/badge/YouTube-Peter-red?style=for-the-badge&logo=youtube" alt="GitHub project link">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Miunie (Discord bot)</td>
                    <td>
                        <img height="24" width="24" src="https://unpkg.com/simple-icons@v3/icons/csharp.svg" title="C#" />
                        <img height="24" width="24" src="https://unpkg.com/simple-icons@v3/icons/dot-net.svg" title=".NET" />
                    </td>
                    <td>
                        <a href="https://spelos.net/miunie">
                            <img src="https://img.shields.io/badge/GitHub-project-blue?style=for-the-badge&logo=github" alt="GitHub project link">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Theme me up</td>
                    <td>
                        <img height="24" width="24" src="https://unpkg.com/simple-icons@v3/icons/csharp.svg" title="C#" />
                        <img height="24" width="24" src="https://unpkg.com/simple-icons@v3/icons/dot-net.svg" title=".NET" />
                    </td>
                    <td>
                        <a href="https://github.com/petrspelos/theme-me-up">
                            <img src="https://img.shields.io/badge/GitHub-project-blue?style=for-the-badge&logo=github" alt="GitHub project link">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i>... and many more</i></td>
                    <td>
                    </td>
                    <td>
                        <a href="https://spelos.net/github">
                            <img src="https://img.shields.io/badge/GitHub-profile-black?style=for-the-badge&logo=github" alt="GitHub profile link">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
  </div>

</div>
