<div class="wrapper">
    <div class="col-left">
        <h2>Welcome to Spelos.NET</h2>
        <p>Hello, my name is Peter. To learn more about me, checkout my <a href="https://github.com/petrspelos">GitHub</a> profile. If you're feeling chatty, join my <a href="https://discord.gg/cGhEZuk">Discord</a> server.</p>
    </div>
    <div class="col-right">
        <img src="~/img/avatar.png">
    </div>
</div>
