<div class="container">

  <div class="row">
    <div class="col-sm">

        <div class="container bio">
            <div class="row">
                <div class="col-md-2 avatar-container">
                    <img src="~/img/avatar.webp" class="avatar" width="200" height="200" alt="Author's profile picture" />
                </div>
                <div class="col-md bio-container">
                    <p>Hello, my name is Peter! <img src="~/img/emoji-relaxed.webp" class="emoji" width="20" height="20" alt="Relaxed face emoji" /></p>
                    <p>I'm a <mark class="primary">software engineer</mark> with a focus on <mark class="secondary">.NET</mark> and I like <mark class="tertiary">making online tutorials</mark> about programming.</p>
                </div>
            </div>
        </div>
        
        <hr class="big-gap" />

        <table style="max-height: none;">
            <thead>
                <tr>
                    <th>Get in touch</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p style="margin-top: 10px"><img src="~/img/logo-matrix.webp" class="emoji" width="50" height="50" style="margin-right: 20px;"/> DM me on Matrix</p>
                    </td>
                    <td>
                        <a class="primary button" style="background-color: #0dbd8b;" href="/contact">Add me on Matrix</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-top: 10px"><img src="~/img/logo-matrix.webp" class="emoji" width="50" height="50" style="margin-right: 20px;"/> Programming group chat on Matrix</p>
                    </td>
                    <td>
                        <a class="primary button" style="background-color: #0dbd8b;" href="/chat">Join Matrix group</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-top: 10px"><img src="~/img/logo-github.webp" class="emoji" width="50" height="50" style="margin-right: 20px;"/> Follow me on GitHub</p>
                    </td>
                    <td>
                        <a class="primary button" style="background-color: #333333;" href="/github">Go to GitHub</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-top: 10px"><img src="~/img/logo-odysee.webp" class="emoji" width="50" height="50" style="margin-right: 20px;"/> Watch my programming tutorials</p>
                    </td>
                    <td>
                        <a class="primary button" style="background-color: #f56543;" href="/contact">Go to Odysee</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
