/* * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.col-left {
    grid-column: 1;
    padding: 10px 0 0 20px;
}

.col-right {
    grid-column: 2;
} */
