@model SpotifyModel

<h2>My playlists</h2>

<a asp-controller="Home" asp-action="Index">Back</a>

<p>These are my Spotify playlists.</p>

<div class="container">

    <div class="row">

@foreach(var playlist in Model.Playlists)
{
    <div class="column">

        <a href="@playlist.Url" class="spotify-playlist">
            <img src="@playlist.ImageUrl"/>
            <span>@playlist.Title</span>
        </a>

    </div>
}

    </div>

</div>

