<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <div class="workspace">
        <img src="img/avatar.webp" class="avatar" width="200" height="200" alt="Spelos' profile picture" />
        <pre>
<span class="token-keyword">new</span> <span class="token-class">Programmer</span>()
{
    Name = <span class="token-literal">"Peter"</span>,
    FavoriteLanguage = <span class="token-enum">Language</span>.CSharp,
    Links = <span class="token-keyword">new</span> [] {
        <a href="https://matrix.to/#/@shirline:matrix.org" target="_blank" class="token-signature"><i class="fa-solid fa-comment"></i> Matrix DMs</a>,
        <a href="https://matrix.to/#/!BKIQmmzroSxqmCgHjj:matrix.org?via=matrix.org" target="_blank" class="token-signature"><i class="fa-solid fa-comments"></i> Community group chat</a>,
        <a href="https://discord.gg/Z7dbRen8bR" target="_blank" class="token-signature"><i class="fa-brands fa-discord"></i> Community group chat (proprietary)</a>,
        <a href="https://github.com/petrspelos" target="_blank" class="token-signature"><i class="fa-brands fa-github"></i> GitHub</a>,
        <a href="https://odysee.com/@peter:c" target="_blank" class="token-signature"><i class="fa-brands fa-odysee"></i> Odysee</a>,
        <a href="https://www.youtube.com/@Peter-vt1sx" target="_blank" class="token-signature"><i class="fa-brands fa-youtube"></i> YouTube</a>,
        <a href="https://ko-fi.com/spelos" target="_blank" class="token-signature"><i class="fa-solid fa-circle-dollar-to-slot"></i> Ko-fi</a>,
        <a href="https://keybase.io/spelos" target="_blank" class="token-signature"><i class="fa-brands fa-keybase"></i> Keybase</a>,
        <a href="https://www.twitch.tv/spelos" target="_blank" class="token-signature"><i class="fa-brands fa-twitch"></i> Twitch</a>
    },
    Posts = <span class="token-keyword">new</span> [] {
        {{ range where .Site.RegularPages "Section" "posts" }}
            <a  class="token-signature" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
    }
};
    </pre>

    <script src="https://kit.fontawesome.com/0364a7171c.js" crossorigin="anonymous"></script>
    </div>

</body>
</html>
