<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <div class="workspace">
        <img src="img/avatar.webp" class="avatar" width="200" height="200" alt="Spelos' profile picture" />
        <pre>
<span class="token-keyword">new</span> <span class="token-class">Programmer</span>()
{
    Name = <span class="token-literal">"Peter"</span>,
    FavoriteLanguage = <span class="token-enum">Language</span>.CSharp,
    Links = <span class="token-keyword">new</span> [] {
        {{ range .Site.Data.links }}<a href="{{ .url }}" target="_blank" class="token-signature"><img src="{{ .icon }}" alt="website logo" class="emoji" />{{ .name }}</a>,
        {{ end }}
    },
    Posts = <span class="token-keyword">new</span> [] {
        {{ range where .Site.RegularPages "Section" "posts" }}
            <a  class="token-signature" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
    }
};
    </pre>
    </div>

</body>
</html>
